<nav class="nav-tabs">
    <a href="/registered" class="nav-link">등록특허 현황</a>
    <a href="/patent-search" class="nav-link">등록특허 조회</a>
    <a href="/application" class="nav-link">출원특허 현황</a>
    <a href="/fee-search" class="nav-link">연차료 조회</a>
</nav>